
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 155.8rem;
}.section-XyZ {
  padding: 0rem 16rem 0rem 9rem;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:75487cdf03aabbe5ad719bd7d381a6e1ff0b19f4');

  .auto-group-3fno-4ib {
    width: 63.1rem;
    flex-shrink: 0;
    margin: 4.8rem 10.8rem 0rem 0rem;

    .divleftcontainer-C47 {
      margin-bottom: 9.55rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .hi-i-am-sophia-angela-i-olbes-8TZ {
        color: #ffffff;
        font-family: Sansita One, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 8.25rem 0.7rem;
        font-size: 3.5rem;
        line-height: 1.2575;
        white-space: nowrap;
        align-items: baseline;
        display: flex;
        font-weight: 400;

        .hi-i-am-sophia-angela-i-olbes-8TZ-sub-0 {
        }
        .hi-i-am-sophia-angela-i-olbes-8TZ-sub-1 {
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #a4def1;
          font-family: Sansita One, 'Source Sans Pro';
        }
      }
      .a-student-with-hearing-impairment-Lxw {
        display: flex;
        font-weight: 400;
        font-family: Sansita One, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.5rem 0.7rem;
        font-size: 3.4rem;
        line-height: 1.2575;
        color: #ffffff;
        flex-shrink: 0;
      }
      .i-am-currently-in-my-third-year-of-taking-bachelor-of-science-in-information-technology-at-dalubhasaan-ng-lungsod-ng-lucena-rAb {
        flex-shrink: 0;
        max-width: 63.1rem;
        display: flex;
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .divbuttons-vw9 {
      margin: 0rem 17.972rem 0rem 1.7rem;
      width: calc(100% - 19.672rem);
      height: 5.9rem;
      display: flex;
      align-items: center;

      .link-button-Seb {
        font-weight: 400;
        line-height: 1.285;
        color: #000000;
        white-space: nowrap;
        box-sizing: border-box;
        align-items: center;
        font-family: Ultra, 'Source Sans Pro';
        margin-right: 3.428rem;
        width: 20rem;
        height: 100%;
        display: flex;
        justify-content: center;
        border: solid 0.3rem #ff0089;
        border-radius: 3.2rem;
        flex-shrink: 0;
        font-size: 1.5rem;
        text-decoration-line: underline;
        background-color: rgba(0, 132, 255, 0.4600000083);
      }
      .button-UbH {
        background-color: rgba(0, 132, 255, 0.4600000083);
        border-radius: 3.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 5.383rem 1rem 5.417rem;
        width: 20rem;
        height: 100%;
        border: solid 0.3rem #ff0089;

        .contact-me-odZ {
          max-width: 9.2rem;
          font-weight: 400;
          line-height: 1.285;
          color: #000000;
          font-family: Ultra, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }
      }
    }
  }
  .imgpng-tf1 {
    flex-shrink: 0;
    width: 56.9rem;
    height: 102.4rem;
    border: solid 1rem rgba(0, 132, 255, 0.4600000083);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:6cad868b6c41e8558e724c0ad6746b4593bde423');
    box-sizing: border-box;
    background-size: 100% 100%;
    background-position: center;
  }
}
