
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 155.8rem;
}.section-wod {
  position: relative;
  background: linear-gradient(180deg, #a5a4f1 -0%, rgba(187, 95, 230, 0.8299999833) 65%, rgba(241, 164, 233, 0.8999999762) 95%);
  box-sizing: border-box;
  padding: 2.9rem 8.3rem 2.9rem 5.4rem;
  width: 100%;
  height: 13.5rem;
  overflow: hidden;

  .header-GL7 {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;

    .logo-dAf {
      height: 7.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 8.4rem;
    }
    .auto-group-e8qo-aLo {
      display: flex;
      column-gap: 6.5rem;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0rem 1rem 44.4rem;
      height: 100%;

      .home-JGo {
        font-family: Poppins, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 0 0.6rem;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        flex-shrink: 0;
        height: 100%;
        cursor: pointer;
        text-align: center;
        color: #000000;
        white-space: nowrap;
      }
      .home-cHV {
        font-weight: 500;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        font-size: 3rem;
        height: 100%;
        text-align: center;
        line-height: 1.5;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.5rem;
      }
      .home-w4s {
        cursor: pointer;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 0 0.35rem;
        height: 100%;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .home-rSj {
        white-space: nowrap;
        flex-shrink: 0;
        padding: 0 0.25rem;
        text-align: center;
        font-size: 3rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        box-sizing: border-box;
        height: 100%;
        cursor: pointer;
        font-weight: 500;
        color: #000000;
      }
      .home-Nfy {
        font-weight: 500;
        color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.35rem;
        cursor: pointer;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 100%;
        text-align: center;
        font-size: 3rem;
      }
    }
  }
}
